*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* background-color: red; */
}
a{
    color: black;
    text-decoration: none;
}
.ta-center{
    text-align: center;
}


/* Home */
#body-header{
    background-image: url(assets/img/developer-img-cropped.jpg);
    height: 80vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* position: sticky; */
    /* padding-top: 40px; */
    /* background-position: ; */
}
.overlay{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 111, 111, 0.245);
    /* padding-top: 40px; */
    position: relative;
}
#big-screen-ul{
    list-style: none;
    margin: 0;
    /* margin-top: ; */
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    top: 10%;
    right: 50%;
    left: 50%;
    /* text-align: center; */
}
#big-screen-ul li a{
    color: white;
    font-weight: 700;
    transition: 0.2s ease;
}
#big-screen-ul li a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
#d-small-screen{
    display: none;
}
#personal-details{
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 39%;
    /* left: 50%; */
    color: white;
}
#personal-details h1{
    font-size: 40px;
}
.social-section{
    display: flex;
    justify-content: space-between;
}
.social-section a{
    color: white;
    transition: 0.3s ease;
}
.social-section a:hover{
    color: black;
}

/* main */
main{
    width: 100%;
    margin: 0 auto;
}
main>section{
    width: 100%;
}
.section-headers{
    padding: 30px 0;
}
.section-headers>h1{
    font-size: 38px;
}
.section-content{
    padding: 0 15px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}
.padbot-40{
    padding-bottom: 40px;
}
.flex{
    display: flex;
}
/* About */
#about-header img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-top: -70px;
    position: relative;
}

/* work experience */
#experience-container{
    width: 100%;
    /* height: 600px; */
    /* border: 1px solid black; */
    position: relative;
}
.experience{
    width: 40%;
    height: 200px;
    /* border: 1px solid black; */
    margin: 6px;
    position: relative;
    left: 5%;
    padding: 6px;
    background-color: lightgray;
    border-radius: 8px;
}
#internsElite::after{
    content: "";
    background-image: url(assets/img/experience/internselite.jpg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    margin-left: 5px;
    background-blend-mode: exclusion;
    border-radius: 50%;
}
#vit::after{
    content: "";
    background-image: url(assets/img/experience/vit.png);
    display: inline-block;
    width: 20px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    margin-left: 5px;
    border-radius: 50%;
}
#dcfl::after{
    content: "";
    background-image: url(assets/img/experience/dcfl.jpg);
    display: inline-block;
    width: 20px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    margin-left: 5px;
    border-radius: 50%;
}
#dps::after{
    content: "";
    background-image: url(assets/img/experience/dps.jpg);
    display: inline-block;
    width: 20px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    margin-left: 5px;
    border-radius: 50%;
}
.experience-head{
    margin-bottom: 0;
}
.experience-timeframe{
    margin-top: 0;
    font-size: smaller;
}
.experience-list{
    /* list-style: none; */
    padding-left: 20px;
    /* color: red; */
}
.experience:nth-child(2n+1)::after{
    content: "";
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 35%;
    right: -15.35%;
    z-index: 1;
}
.experience:nth-child(2n)::after{
    content: "";
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 35%;
    left: -13.15%;
    z-index: 1;
}
.experience:nth-child(2n){
    left: 55%;
}

.timeline-divider{
    position: absolute;
    left: 51%;
    height: 70%;
    top: 10%;
    width: 0px;
    border: 2px dashed lightgray;
    text-align: center;
}
.timeline-traveller{
    position: sticky;
    top: 10%;
    transform: rotate(90deg);
    color: skyblue;
    z-index: 2;
}

/* skills */
#skills{
    background-color: rgba(206, 206, 206, 0.232);
    padding-bottom: 40px;
    /* height: 400px; */
}
#skills-header{
    padding: 30px 0;
}
#skills-header>h1{
    font-size: 38px;
}
/* #skills-content{
    padding: 0 15px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
} */
.skill{
    background-color: rgb(214, 214, 214);
    box-shadow: 0px 1px 3px 0px black inset;
    width: 200px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 24px;
}
.skill>div{
    /* border-radius: inherit; */
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    height: 100%;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 5px 0 3px -3px #00000030;
}
#html-skill{
    width: 80%;
    background-color: rgb(232, 106, 106);
}
#css-skill{
    width: 80%;
    background-color: royalblue;
}
#js-skill{
    width: 70%;
    background-color: rgb(238, 234, 130);
}
#react-skill{
    width: 20%;
    background-color: rgb(83, 83, 175);
}
#java-skill{
    width: 20%;
    background-color: rgba(29, 29, 98, 0.707);
}
#cpp-skill{
    width: 30%;
    background-color: brown;
}

/* Portfolio */
.project-card{
    width: 200px;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 8px;
}
.project-card img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}
.project-card:hover .project-link img{
    filter: brightness(0.6);
}
.project-card div{
    position: absolute;
    opacity: 0;
    /* z-index: -1; */
    top: -10%;
    padding: 6px;
    transition: 0.4s ease;
}
.project-card:hover div{
    top: 0;
    color: white;
    opacity: 1;
}

/* contact */
#contact{
    background: rgb(75,2,111);
    background: linear-gradient(270deg, #2857a4 0%, #403066 72%);
}
#contact .section-headers h1{
    color: white;
}
#contact-section{
    display: flex;
    gap: 100px;
    align-items: flex-start;
}
#contact-section>div{
    width: 50%;
    gap: 30px;
}
#messageForm input, textarea{
    width: 100%;
    background-color: unset;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    color: white;
    padding: 6px 12px;
}
#messageForm input:focus, textarea:focus{
    /* border: none; */
    outline: none;
}
#contact-details h4{
    margin-top: 0;
}
#contact-btn{
    width: 100%;
    text-align: center;
}
#contact-btn button{
    background-color: unset;
    border: 2px solid white;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
#contact-btn button:hover{
    background-color: white;
    color: black;
}
#contact-details{
    color: white;
}
#contact-details h4{
    margin-top: 0;
}
#contact-details>ul{
    list-style: none;
    padding-left: 0;
}
#contact-details>ul li{
    margin-bottom: 10px;
}
#contact-details a{
    color: white;
}
#contact-social{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
@media screen {
    #personal-details{
        /* right: 50%; */
        left: 35%;
    }
    .experience{
        width: 100%;
    }
    .experience:nth-child(2n){
        left: 5%;
    }
    .experience:nth-child(2n+1)::after{
        content: "";
        width: 10px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: gray;
        position: absolute;
        top: 35%;
        right: unset;
        left: -7.5%;
        z-index: 1;
    }
    .experience:nth-child(2n)::after{
        content: "";
        width: 10px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: gray;
        position: absolute;
        top: 35%;
        left: -7.5%;
        /* right: -15.35%; */
        z-index: 1;
    }
    .timeline-divider{
        left: 0%;
    }
    #contact-section{
        display: unset;
    }
    #contact-section>div{
        width: 100%;
        gap: 30px;
    }
    @media screen and (max-width: 600px) {
        #big-screen-ul{
            display: none;
        }
        #d-small-screen{
            display: unset;
            position: absolute;
            top: 5%;
            right: 0;
            padding-top: 20px;
            padding-right: 20px;
            text-align: right;
            /* position: relative; */
        }
        #hamburger-icon{
            color: white;
            background-color: #9c61515d;
            padding: 10px;
        }
        #small-screen-ul{
            background-color: #9c61515d;
            list-style: none;
            text-align: left;
            padding: 10px;
            display: none;
            position: absolute;
            right: 10%;
            top: 70%;
        }
        #d-small-screen:hover #small-screen-ul{
            display: unset;
        }
        #small-screen-ul li a{
            color: white;
        }
        #personal-details{
            right: 50%;
            left: 20%;
        }
        .experience{
            width: 100%;
        }
        .experience:nth-child(2n){
            left: 5%;
        }
        .experience:nth-child(2n+1)::after{
            content: "";
            width: 10px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: gray;
            position: absolute;
            top: 35%;
            right: unset;
            left: -8%;
            z-index: 1;
        }
        .experience:nth-child(2n)::after{
            content: "";
            width: 10px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: gray;
            position: absolute;
            top: 35%;
            left: -8%;
            /* right: -15.35%; */
            z-index: 1;
        }
        .timeline-divider{
            left: 0%;
        }
    }
}
